<li class="open" onclick="show_brightness(event)">Brightness</li>
<form class="modal" onsubmit="brightness(event)" id="brightness-form" style="display:none">
    <div class="modal-content">
        <div class="modal-menu-align">
            <div>Brightness</div>
            <span id="brightness-close" class="close">&times;</span>
        </div>
    <select class="selector" name="brightness_value" id="brightness_value">
        <option value="0">Less bright</option>
        <option value="1">More bright</option>
    </select>
    <button class="btn-sm" type="submit">Apply</button>
    </div>
</form>