<li onclick="showContrast(event)">Contrast</li>
<form class="modal" onsubmit="contrast_feature(event)" id="contrast-form" style="display:none">
    <div class="modal-content">
        <div class="modal-menu-align">
            <div>Contrast</div>
            <span id="contrast-close" class="close">&times;</span>
        </div>
    <select class="selector" name="contrast-select" id="contrast-select">
        <option value="0">Decrease contrast</option>
        <option value="1">Increase contrast</option>
    </select>
    <button class="btn-sm" type="submit">Apply</button>
    </div>
</form>