<li onclick="show_smooth(event)">Smooth</li>
<form class="modal" onsubmit="smooth(event)" id="smooth-form" style="display:none">
    <div class="modal-content">
        <div class="modal-menu-align">
            <div>Smooth</div>
            <span id="smooth-close" class="close">&times;</span>
        </div>
    <select class="selector" name="smooth_value" id="smooth_value">
        <option value="0">Normal Smooth</option>
        <option value="1">More Smooth</option>
        <option value="2">Extra Smooth</option>
    </select>
    <button class="btn-sm" type="submit">Apply</button>
</div>
</form>