<li onclick="show_watercolor(event)">Water Color</li>
<form class="modal" onsubmit="water_color(event)" id="water-color-form" style="display:none">
        <div class="modal-content">
        <div class="modal-menu-align">
            <div>Water Color</div>
            <span id="close" class="close">&times;</span>
        </div>
    <select class="selector" name="watercolor_value" id="watercolor_value">
        <option value="0.04">Portrait - Lvl 1</option>
        <option value="0.08">Portrait - Lvl 2</option>
        <option value="0.12">Portrait - Lvl 3</option>
        <option value="0.16">Portrait - Lvl 4</option>
        <option value="0.3">Landscape - Lvl 1</option>
        <option value="0.5">Landscape - Lvl 2</option>
        <option value="0.7">Landscape - Lvl 3</option>
        <option value="1.9">Landscape - Lvl 4</option>
    </select>
    <button class="btn-sm" type="submit">Apply</button>
</div>
</form>