{% extends 'base.html' %}

{% block title %}
    <title>Fotographia · Editor</title>
{% endblock %}


{% block content %}
    <!-- Needs to be on top -->
    <div class='zoomable'>
        <img id="img" class="panzoom" src="{{ url_for('static', filename=filename) }}"/>
    </div>

    <!-- EDITOR HTML -->
    <div class="editor">
        <nav class="controlbar">
            <a class="btn--exit" href="/"><i class="fas fa-home"></i></a>
            <ul class="container--editor controlbar__list">
                <li class="controlbar__item project-name">This is hardcoded.png</li>
                <ul class="controlbar__list button-container">
                    <li class="controlbar__item zoom"><a href="#" id="zoomOut"><i class="fas fa-search-minus"></i></a></li>
                    <li class="controlbar__item zoom"><a href="#" id="zoomIn"><i class="fas fa-search-plus"></i></a></li>
                </ul>
                <li class="controlbar__item">Resolution: <span id="width"></span>x<span id="height"></span></li>
                <li class="controlbar__item"><button id="btn-export" class="btn">
                <a href="{{ url_for('static', filename=filename) }}" id="export_button" download="Ikona_editor{{ url_for('static', filename=filename) }}" >
                    Export
                </a>
                </button></li>
            </ul>
            <hr> <!-- White-line -->
        </nav>
        <section class="toolbar">
            <!-- <hr> White-line -->
            <div class="toolbar__margin">
                <button class="toolbar__accordion">Basic</button>
                <div class="toolbar__panel">
                    <ul>
                        {% include 'includes/contrast.html' %}
                        {% include 'includes/brightness.html' %}
                        {% include 'includes/add_text.html' %}
                    </ul>
                </div>
                <button class="toolbar__accordion">Correction</button>
                <div class="toolbar__panel">
                    <ul>
                        {% include 'includes/crop.html' %}
                        {% include 'includes/resize.html' %}
                        {% include 'includes/flip.html' %}
                    </ul>
                </div>
                <button class="toolbar__accordion">Filters</button>
                <div class="toolbar__panel">
                    <ul>
                        {% include 'includes/sharpen.html' %}
                        {% include 'includes/sketching.html' %}
                        {% include 'includes/smooth.html' %}
                        {% include 'includes/water_color.html' %}
                        {% include 'includes/threshold.html' %}
                        {% include 'includes/sepia.html' %}
                        {% include 'includes/pixelize.html' %}
                        {% include 'includes/edge_detection.html' %}
                        {% include 'includes/emboss.html' %}
                        {% include 'includes/blur.html' %}
                        {% include 'includes/gamma_correction.html' %}
                        {% include 'includes/grayscale.html' %}
                        {% include 'includes/negate.html' %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <!-- END EDITOR HTML -->

    <!-- SCRIPTS -->
    <script src='https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js'></script>
    <script src="{{ url_for('static', filename='js/blur.js') }}"></script>
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/resolution.js') }}"></script>
    <script src="{{ url_for('static', filename='js/resize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/grayscale.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gamma_correction.js') }}"></script>
    <script src="{{ url_for('static', filename='js/negate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rotate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sepia.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contrast.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pixelize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/edge_detection.js') }}"></script>
    <script src="{{ url_for('static', filename='js/threshold.js') }}"></script>
    <script src="{{ url_for('static', filename='js/crop.js') }}"></script>
    <script src="{{ url_for('static', filename='js/brightness.js') }}"></script>
    <script src="{{ url_for('static', filename='js/emboss.js') }}"></script>
    <script src="{{ url_for('static', filename='js/water_color.js') }}"></script>
    <script src="{{ url_for('static', filename='js/add_text.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sketching.js') }}"></script>
    <script src="{{ url_for('static', filename='js/smooth.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sharpen.js') }}"></script>
{% endblock %}